body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2d545e;
    color: #FFFFFF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    gap: 20px;
}

.score {
    display: none;
}

.option {
    display: flex;
    flex-direction: column;
}