body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2d545e;
    color: #FFFFFF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

#question {
    font-size: 1.5rem;
}

.question-tracker {
    text-align: left;
    width: 100%;
    color: #C0C0C0;
}

.none {

    display: none;
}

.option {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding: 0;
    margin: 0;

    >li {
        border-radius: 2px;
        border: 2px solid white;
        padding: 12px;
        text-align: center;
        font-size: 1.5rem;
        list-style-position: inside;
    }
}

.button {
    display: flex;
    justify-content: space-between;
    width: 100%;

    >button {
        border-radius: 2px;
        padding: 8px 16px;
        min-width: 100px;
        font-size: 1rem;
        font-weight: 600;
        color: #2d545e;
        cursor: pointer;
    }
}

.reset {
    padding: 8px 16px;
    min-width: 100px;
    font-size: 1rem;
    color: #2d545e;
    cursor: pointer;
    font-weight: 600;
}

.selected {
    color: #2d545e;
    background-color: #FFFFFF;
}